body {
    background-color: #e23636
}

li {
    list-style-type: none;
}

ul {
    margin: 0;
    padding: 0;
}

.heroes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.error_message {
    color: white;
}