body {
    background-color: #ee171f
}

li {
    list-style-type: none;
}

ul {
    margin: 0;
    padding: 0;
}

.logo__content {
    width: 300px
}

.heroes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.error_message {
    color: white;
}

.top {
    font-family: 'Bebas Neue';
    color: white;
    font-size: 42px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0px
}